.modernTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 1em;

  th {
    color: #7D869F;
    font-size: 1.4rem;
    padding: 10px 15px;

  }

  td {
    background-color: white;
    padding: 15px 15px;
    word-wrap: break-word;
    color: var(--grey-3);

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  tr.class-row {
    margin-bottom: 10px;
  }

  .number {
    color: var(--purple-1);
    cursor: pointer;

    .arrow {
      font-size: 1.2rem;
    }
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
