@import "./fonts.scss";
html {
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family:  Tajawal;
  overflow-x: hidden;
  color: $dark-blue;
}

body {
  font-size: 1.6rem;
}
input, button {
  font-family:  Tajawal;
}
input[type=text] {   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}