.login-form {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    .input-container {
        width: 100%;
        height: 60px;
    }
    .input-container:not(:last-child){
        margin-bottom: 10px;
    }
   .no-account {
       width: 100%;
       font-size: 1.6rem;
       .register-word {
           color: $blue;
           cursor: pointer;
           &:hover {
               color: $blue-1;
           }
       }
   }
}