.dashboard {
    &__content {
        display: flex;
        flex-flow: column;
        padding-top: 50px;
        .welcome-box {
            padding: 20px 10px;
            width: 90%;
            height: auto;
            background-color: var(--pink);
            border-radius: 15px;
            margin: 0 auto;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            .welcome-img {
                width: 300px;
            }
            .texts {
                display: flex;
                flex-flow: column;
                margin-inline-start: 50px;
                .main-text {
                    color: var(--pink-1);
                    font-size: 3rem;
                    font-weight: 800;
                }
                .sub-text {
                    font-size: 1.6rem;
                    margin-top: 10px;
                    width: 80%;
                    color: var(--grey-5);
                }
            }
          
        }
    }
}


@media (max-width: $medium-devices) {
    .dashboard {
        &__content {
            .welcome-box {
                width: 90%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                .texts {
                    margin-top: 20px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    text-align: center;
                    margin-inline-start: 0px;
                    .main-text {
                        color: var(--pink-1);
                        font-size: 3rem;
                        font-weight: 800;
                    }
                    .sub-text {
                        font-size: 1.6rem;
                        margin-top: 10px;
                        width: 100%;
                        color: var(--grey-5);
                    }
                }
              
            }
        }
    }
  }